<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>xPea Share</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">xPea Share</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/input">SEARCH</a></li>
            <li><a href="/behind_the_search">Behind the Search</a></li>
            <li><a href="/why_the_name">Behind the Name</a></li>
            <li><a href="/about_me">About me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<br><br>
<div class="container">

   <div class="starter-template">
       <h1>Why <i>xPea Share</i>?</h1><br>
   </div>

   <div class = "container">
      <p>
        You might be wondering why I named my product <i>xPea Share</i>.
        There are no peas involved in my product (except for me saying "Peas and thank you" for using it).
        Why would I give it such a name?
      </p>

      <p>
        xPea Share is built upon 2.5 million people reviewing jobs on Glassdoor and occupational experts judging what skills are necessary for almost a thousand jobs.
        People <b>shared their experiences</b> of what certain jobs are like, with the hope of helping you find your job.
        That's why I wanted to incorpate "sharing experiences" in the name of my system.
      </p>

      <p> 
        For why I chose <i>xPea Share</i> in particular, this goes back to my favorite video game series as a child: Pokemon.
        This Japanese video game series has been played by tens of millions globally and playing it was one of my favorite childhood memories.
        The premise is that you, a Pokemon trainer, capture small animals called Pokemon and make them stronger over time by fighting other Pokemon.
      </p>

      <p>
        One item in this game series is called <i>Exp. Share</i>.
        The item may have been intended to be read as "Experience Share", but I always read it as "xPea Share".
        If you give this item to one of your Pokemon, then whenever one of your Pokemon beats another Pokemon, the Pokemon holding <i>Exp. Share</i> will also gain experience from the battle.
        It is extremely helpful for training less experienced Pokemon become stronger so that with enough teamwork, the less experienced will eventually become powerful enough in order to contribute to the team.
      </p>

      <h3>
        And that's what I think xPea Share is: Millions of people coming together to share their experiences in order to help you gain the experience you need.
      </h3>

      <p>
        Also, I think my pea sprout logo (created by the talented Alyssa Loving Jung) is adorable.
      </p>

    </div>

    <div class = "container">
        <center>
            <img src="../static/images/xPea_Logo.png" alt="xPea-Share-Logo" height="120" width="100">
        </center>
    </div>

    <br>








   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>

 </div> <!-- /.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
